#logo{  
	float: left;
    margin-left: 80px; 
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav{
    float:right;
    margin-top: 30px;
    margin-bottom: 5px;
}
.nav li{
    color:grey;
    display: inline-block;
    padding: 12px;
    margin-left: 35px;
}
.contact_us {
    margin-right: 80px;
    color: #ffffff;
    background: #2f3033;
    border-radius: 4px;
    font-weight: bold;

}
a {
    color:inherit;
    text-decoration: none;
}
.image {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    background-image: url(https://i.postimg.cc/8c6NwJys/Header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    color: rgb(252, 249, 250); 
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 8px;
}

h1{
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 40px;
    color: rgb(252, 249, 250);
}
h3{
    margin-top: -35px;
    padding-bottom: 25px;
    color: rgb(252, 249, 250);
}
p {
    color: rgba(31, 29, 29, 0.984);
    background: rgb(252, 249, 250);
    margin-left: 485px;
    margin-right: 485px;
    padding: 7px 15px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 30px;
}
.accordion {
    margin-left: 80px;
    margin-right: 80px;
    --bs-accordion-color: #2f3033;
    --bs-accordion-btn-bg: #f7e6ed;
    --bs-accordion-border-color: rgb(186, 49, 72);
    --bs-accordion-active-bg: rgb(156, 52, 83);
    --bs-accordion-active-color: rgb(222, 205, 213);
    --bs-accordion-btn-focus-box-shadow: none;
    margin-bottom: 80px;
}
.faq{
    color:rgb(156, 52, 83);
    text-align: center;
    margin-bottom: -20px;
}
.footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(222, 205, 213);
}

    